## The Data Preparation Part

Data Sources:  
1) Kaggle Competition [Predict Future Sales](https://www.kaggle.com/c/competitive-data-science-predict-future-sales/overview), kindly provided by 1C Company, one of the largest Russian software firms  
2) Moscow Airport METAR (Meteorological Aerodrome Report) data, provided by [rp5.ru](https://rp5.ru/Weather_in_Moscow,_Russia)

First import any lib, we will install Pandasql via PyPl on Databricks

Python Lib Ref:  
Pandasql: https://pypi.org/project/pandasql/

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#pip install -U pandasql
from pandasql import sqldf

Now load the sales data provided by 1C Company

In [6]:
df_1CsalesT = pd.read_csv("/dbfs/FileStore/tables/sales_train_v2.csv")

df_1C_items = pd.read_csv("/dbfs/FileStore/tables/items.csv")

df_1C_itemCat = pd.read_csv("/dbfs/FileStore/tables/item_categories.csv")

df_1C_shop = pd.read_csv("/dbfs/FileStore/tables/shops.csv")

We will preview the data for sales and shops

In [8]:
print(df_1CsalesT.shape)

print(df_1CsalesT.head(10))

print(df_1C_shop.shape)

print(df_1C_shop.head(30))

We should find the revenue for each sales record by multiplying item_price and item_cnt_day, for df_1CsalesT, create a new column to store it, and it will be used latter. This step will be long due to the large set of data.

In [10]:
#df_1CsalesT['Revenue'] = df_1CsalesT.apply(lambda row: row.item_price * row.item_cnt_day, axis=1)
df_1CsalesT['Revenue'] = df_1CsalesT ['item_price'] * df_1CsalesT ['item_cnt_day']
df_1CsalesT.head(10)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,Revenue
0,02.01.2013,0,59,22154,999.00,1.0,999.00
1,03.01.2013,0,25,2552,899.00,1.0,899.00
2,05.01.2013,0,25,2552,899.00,-1.0,-899.00
3,06.01.2013,0,25,2554,1709.05,1.0,1709.05
4,15.01.2013,0,25,2555,1099.00,1.0,1099.00
5,10.01.2013,0,25,2564,349.00,1.0,349.00
6,02.01.2013,0,25,2565,549.00,1.0,549.00
7,04.01.2013,0,25,2572,239.00,1.0,239.00
8,11.01.2013,0,25,2572,299.00,1.0,299.00
9,03.01.2013,0,25,2573,299.00,3.0,897.00

In [11]:
#Let's check again on the size, see how it looks comparing to original
df_1CsalesT.shape

I have tried to do translation wth Google Translate: https://pypi.org/project/googletrans/, but it sometimes does not work. Anyway, I found "Москва" is "Moscow", and since we only care about the 1C shops in Moscow, we will filter them out. In addition, I found "Цифровой склад 1С-Онлайн,55" is "Digital warehouse 1C-Online", with shop_id of ''55. We will look at it as well, because colder weather might boost online sales

In [13]:

df_Moscow_shop = df_1C_shop[df_1C_shop['shop_name'].str.contains("Москва")]

print(df_Moscow_shop)

type(df_Moscow_shop )

In [14]:
# Get the shop IDs into a list

ls_shopID = df_Moscow_shop['shop_id'].tolist()

print(ls_shopID)

Then we can select sales data base on that list of shop IDs, this will reduce the total amount of records being analyzed as well.

In [16]:
#Then we can select sales data base on that list of shop IDs.
df_Moscow_sales = df_1CsalesT[df_1CsalesT['shop_id'].isin(ls_shopID)]

print(df_Moscow_sales.shape)

print(df_Moscow_sales)

We also get the data set for online sales

In [18]:
df_OL_sales = df_1CsalesT[df_1CsalesT['shop_id'].isin(['55'])]

print(df_OL_sales.shape)

print(df_OL_sales)

We can find the sum of revenues for total sales, sales in Moscow, and online sales, see how much they are

In [20]:
total_sales = df_1CsalesT['Revenue'].sum() 
msc_sales = df_Moscow_sales['Revenue'].sum() 
ol_sales = df_OL_sales['Revenue'].sum() 

print('Total 1C Sales of all (in MRub): ', total_sales/1000000)
print('Moscow Sales (in MRub): ', msc_sales/1000000)
print('Online Sales (in MRub):', ol_sales/1000000)

From above, total sales from 2013-01 to 2015-10 is about 3398.9 MRub, and revenue from shops in Moscow is around 1/3 of that, at 1132.7 MRub. Interestingly, the sales from Online is only about 49.8 MRub, not very significant contribution. In this case, we will just focus on the sales in Moscow.

Now we want to check the month-year coverage of given 1C sales data for Moscow. We can observe that month-year were from 01.2013 to 10.2015.  
We will be using Pandas SQL: https://pypi.org/project/pandasql/

In [23]:
pysqldf = lambda q: sqldf(q, globals())

df_dates = pysqldf('''SELECT distinct substr(date, -7) FROM df_Moscow_sales ''')

print(df_dates)

For each date, we want to get the daily item count and daily sales revenue, fot the 1C shops in Moscow

In [25]:
df_MSC_sales = pysqldf('''SELECT date,
                                 sum(Revenue) AS DailyRev,
                                 sum(item_cnt_day) AS ItemsSold
                          FROM df_Moscow_sales
                          GROUP BY date
                          ORDER BY date''')

df_MSC_sales['date'] =  pd.to_datetime(df_MSC_sales['date'], format='%d.%m.%Y')

df_MSC_sales = df_MSC_sales.sort_values(by='date')

print(df_MSC_sales.dtypes)
print(df_MSC_sales.shape)
print(df_MSC_sales)

Next, we load the weather data of Moscow, from here https://rp5.ru/Weather_archive_in_Sheremetyevo_(airport),_METAR

In [27]:
#Load the Moscow Temp data, note some other columns have been removed, with only DateTime and AirTemp left
df_MoscowTemp = pd.read_csv("/dbfs/FileStore/tables/Moscow_SVO_Temp1315.csv")

df_MoscowTemp.shape

In [28]:
df_MoscowTemp.head()

,Local_DateTime,AirTemp
0,30.12.2015 23:30,-8.0
1,30.12.2015 23:00,-8.0
2,30.12.2015 22:30,-8.0
3,30.12.2015 22:00,-7.0
4,30.12.2015 21:00,-7.0

We add a column that is date only, because we will aggreate base on each date. We used 'date' so it will be the same column name as in sales data.

In [30]:
df_MoscowDateTemp = df_MoscowTemp.copy()

df_MoscowDateTemp["date"] = df_MoscowDateTemp.Local_DateTime.str[:10]                                 

df_MoscowDateTemp['date'] =  pd.to_datetime(df_MoscowDateTemp['date'], format='%d.%m.%Y')


df_MoscowDateTemp.head()

,Local_DateTime,AirTemp,date
0,30.12.2015 23:30,-8.0,2015-12-30
1,30.12.2015 23:00,-8.0,2015-12-30
2,30.12.2015 22:30,-8.0,2015-12-30
3,30.12.2015 22:00,-7.0,2015-12-30
4,30.12.2015 21:00,-7.0,2015-12-30

We should check that the year-month covers what we are looking for

In [32]:
df_wea_dates = pysqldf('''SELECT distinct substr(date, 0,8) FROM df_MoscowDateTemp ''')

print(df_wea_dates)

Find average temp for each date

In [34]:
df_DateTemp = pysqldf('''SELECT date, AVG([AirTemp]) AS AvgTemp
                         FROM df_MoscowDateTemp
                         GROUP BY Date
                         ORDER BY Date''')

df_DateTemp['date'] =  pd.to_datetime(df_DateTemp['date'])

print(df_DateTemp.shape)
print (df_DateTemp)

Now we can combine the two data sets, [df_MSC_sales] and [df_DateTemp], w.r.t. their ['date']

In [36]:
df_SalesTemp = pysqldf('''SELECT A.date,
                                 A.DailyRev,
                                 A.ItemsSold,
                                 B.AvgTemp
                         FROM df_MSC_sales AS A
                         INNER JOIN df_DateTemp AS B
                         ON A.date = B.date
                         ORDER BY A.date''')

df_SalesTemp['date'] =  pd.to_datetime(df_SalesTemp['date'])

print(list(df_SalesTemp.columns)) 
print(df_SalesTemp.shape)
print(df_SalesTemp)

print(df_SalesTemp.dtypes)

We can find the daily averages and standard deviations for all 3 series

In [38]:
print('The daily averages are:', df_SalesTemp.mean())

print('The daily standard deviations are:', df_SalesTemp.std())

We can save this combined data set to a CSV and export for latter use.

In [40]:
df_SalesTemp.to_csv (r'/dbfs/FileStore/tables/MSC_SalesTemp.csv', index = None, header=True)

Check if above works

In [42]:
df_MSC_SalesTemp = pd.read_csv("/dbfs/FileStore/tables/MSC_SalesTemp.csv")

print(df_MSC_SalesTemp.shape)
print(df_MSC_SalesTemp.head())

We also generate a monthly sales temp data set for latter use

In [44]:
df_MonthSalesTemp = pysqldf('''SELECT  distinct 
                                 substr(date, 0,8) AS Month,
                                 sum(DailyRev)/1000 AS MonthKRub,
                                 sum(ItemsSold) AS MonItemSold,
                                 avg(AvgTemp) AS MonAvgTemp
                         FROM df_SalesTemp 
                         GROUP BY Month
                         ORDER BY Month''')


print(list(df_MonthSalesTemp.columns)) 
print(df_MonthSalesTemp.shape)
print(df_SalesTemp.dtypes)

print(df_MonthSalesTemp)

We can find the monthly averages with standard deviations for all 3 series

In [46]:

print('The monthly averages are:', df_MonthSalesTemp.mean())

print('The monthly standard deviations are:', df_MonthSalesTemp.std())

In [47]:
df_MonthSalesTemp.to_csv (r'/dbfs/FileStore/tables/MSC_MonthSalesTemp.csv', index = None, header=True)

In [48]:
#Check if it works
df_MSC_MonthSalesTemp = pd.read_csv("/dbfs/FileStore/tables/MSC_MonthSalesTemp.csv")

print(df_MSC_MonthSalesTemp.shape)
print(df_MSC_MonthSalesTemp.head(10))